html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button-border{
    background: linear-gradient(115deg ,#eeaf61,#fb9062, #ee5d6c,#ce4993, #6a0d83);
    padding: 2px;
}

.button{
    background-color: black;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    font-family: inherit;
    letter-spacing: 0.2rem;
    /*border-image: linear-gradient(115deg ,#eeaf61,#fb9062, #ee5d6c,#ce4993, #6a0d83); border-image-slice: 1;*/
}

.button-border:hover {
    background: linear-gradient(230deg ,#eeaf61, #fb9062, #ee5d6c,#ce4993, #6a0d83);
}

.button-border:hover .button{
    color: gray;
    padding : 1.1rem 1.6rem;
}