
li {
    color: white;
}

.card:hover li{
    display: flex;
    color: black;
}

.card-thumbnail img{
    max-width: 70%;
}
.card-body {
    margin-top: 20px;

}
.card-avatar img{
    height: 40px;
    width: 40px;
    margin-left: 1rem;
    border-radius: 2px;
}

.card-body{
    display: flex;
    flex-direction: row;
}

h3, p{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}