html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(42, 40, 40);
    border: 2px solid gainsboro;
    border-radius: 15px;
    height: 100vh;
    min-width: 320px;
    
}
.container-2 {
    display: flex;
    margin-top: 30px;
    justify-content: left;
    align-items: left;
}
.container-3 {
    display: flex;
    justify-content: top left;
    align-items: top left;
    height: 10vh;
    flex-direction: column;
    color: white;
}
img{
    border-radius: 15px;
}
h3{
    margin: 0;
    padding: 0;
    color: white;
    margin-left: 1rem;
    font-family: sans-serif;
}
p{
    margin: 0;
    padding: 0;
    color: rgb(161, 161, 161);
    font-family: sans-serif;
}
.search-bar{
    width: 40%;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: all 0.8s;
}
.search-bar::placeholder{
    padding: 0.5rem;
    color: rgb(0, 0, 0);
}

.search-bar:focus{
    box-shadow: 0 0 10px orangered;
    place-content: none;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out;
  
}
.search-bar:focus::placeholder{
    color: transparent;
}