
.contianer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;

    
}



.circle1, .circle2, .circle3{
    border-radius: 25%;
    background-color: white;
    margin: 20px;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    animation: pulse infinite alternate 1s;
}
@keyframes pulse{
    from  {
       background-color: rgb(134, 128, 128);;
    }
    to{
        background-color: rgb(241, 241, 241);
        height: 150px;
        width: 150px;
    }
}